body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-container img {
    width: 50px; /* Ajusta el tamaño del logotipo según tus necesidades */
    margin-right: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
	align-items: center;
}

.producto {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}

.producto img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#carrito {
    display: flex;
    flex-direction: column;
}

#carrito button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#finalizar-compra {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#finalizar-compra:hover {
    background-color: #0056b3;
}
